@import 'tailwindcss';

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-colorChange {
  background-size: 200% 200%;
  animation: colorChange 3s ease infinite;
}
